<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SVN Projects</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <h1 align="center">Arnav Mishra's SVN Projects</h1>
    <div>
        <ul class="project-categories">
            {% for project in projects %}
                {% if projects[project] is mapping and "date" in projects[project] %}
                <li>
                    <h2 align="center">Project Title: {{ project }}</h2>
                    <p>Date: {{ projects[project]['date'] }}</p>
                    <p>Version: {{ projects[project]['version'] }}</p>
                    <p>Summary: {{ projects[project]['summary'] }}</p>
                    <p><a href="{{ url_for('access_project', project_name = project) }}">View Project Details</a></p>
                </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</body>

</html>