<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ project_name }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <a href="/" title="Return to Home Page" style="float: right;"><b>Return Home</b></a>
    <h1 align="center">{{ project_name }}</h1>
    <h2> FILES: </h2>
    {% for subpart in project %}
        {% if project[subpart] is mapping and "size" in project[subpart] and "version" in project[subpart] %}
            <ul class="file-data">
                <li>
                    <h2 align="center">File Name: {{ subpart }}</h2>
                    <p><a href="{{ url_for('access_subdirectory', project=project_name, is_file=True, file_name=subpart) }}">
                        View File Details</a></p>
                    <br>
                </li>
            </ul>
        {% endif %}
    {% endfor %}
    <br><br><br><br><br><br><br><br>
    <hr>
    <h2> SUBDIRECTORIES: </h2>
    {% for subpart in project %}
        {% if project[subpart] is mapping and "size" not in project[subpart] and "date" in project[subpart] %}
            <ul class="project-subdirectories">
                <li>
                    <h2 align="center">Directory Name: {{ subpart }}</h2>
                    <p>Date: {{ project[subpart]['date'] }}</p>
                    <p>Version: {{ project[subpart]['version'] }}</p>
                    <p>Summary: {{ project[subpart]['summary'] }}</p>
                    <p><a href="{{ url_for('access_subdirectory', project=project_name, is_file=False, file_name=subpart) }}">
                        View Subdirectory Details</a></p>
                </li>
            </ul>
        {% endif %}
    {% endfor %}
</body>
</html>