<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ file_name }}</title>
</head>
<body>
<p>{{ project }} </p>
    <a href="/" title="Return to Home Page" style="float: right;"><b>Return Home</b></a>
    <h1>File Name: {{ file_name }}</h1>
    <p>File Size: {{ file_data['size'] }} </p>
    <p>Type: {{ file_data['type'] }} </p>
    <p>Path: {{ file_data['path'] }}</p>
    <p>Version: {{ file_data['version'] }} </p>
    <p>Author: {{ file_data['author'] }} </p>
    <p>Info: {{ file_data['summary'] }} </p>
    <p>Date: {{ file_data['date'] }} </p>
    {% if file_data['revisions']|length > 0 %}
        <p>Revisions:
        <a href="{{ url_for('access_revisions', project=project_name, file_name=file_name) }}">
            Show revisions</a></p>
    {% endif %}
    <iframe src="{{ file_data['url'] }}" width=100% height="500">File</iframe>
</body>
</html>